@use "./fonts";

// Universal box-sizing border-box
*,
*::before,
*::after {
  box-sizing: border-box;
}

// default button styling
button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

// default font styling
label,
input,
span {
    @include fonts.text-medium;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p, span, label {
    margin: 0;
    display: flex;
    align-items: center;
}

html {
    font-size: 16px; // Default (4k and up)

    // 2560x1440 (QHD)
    @media (max-width: 2560px) {
        font-size: 14px;
    }

    // 1920x1080 (FHD)
    @media (max-width: 1920px) {
        font-size: 12px;
    }

    // 1366x768 (HD+)
    @media (max-width: 1366px) {
        font-size: 10px;
    }

    // 1280x720 (HD)
    @media (max-width: 1280px) {
        font-size: 8px;
    }
}